fastapi==0.120.3
joblib==1.5.2
mlflow==3.5.1
mlflow_skinny==3.5.1
mlflow_tracing==3.5.1
numpy==2.3.4
pandas==2.3.3
pydantic==2.12.3
pydantic_settings==2.11.0
python-dotenv==1.2.1
uvicorn==0.38.0
xgboost
